/* You can add your custom css here.*/

body{
    margin: 0;
    background-color: #ffffff;
}

.sd-title.sd-element__title {
    font-weight: normal;
}

.sd-root-modern {
    background: transparent;

}

#surveyContainer {


   
}




@font-face {
  font-family: "Nunito";
  src: url('fonts/nunito.a.woff2');
}