/* You can add your custom css here.*/

body{
    margin: 0;
    background-color: #eee;
}

.sd-title.sd-element__title {
    font-weight: normal;
}

.sd-root-modern {
    background: #eee;

}

@font-face{
  font-family: 'cdc-fa';
  src: url('./fonts/cdc-fa-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'cdc-fa';
  src: url('./fonts/cdc-fa-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'cdc-fa';
  src: url('./fonts/cdc-fa-solid.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'cdc-icons';
  src: url('./fonts/cdc-icons.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Nunito';
  src: url('./fonts/nunito.a.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Poppins';
  src: url('./fonts/poppins.300a.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Poppins';
  src: url('./fonts/poppins.400a.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Poppins';
  src: url('./fonts/poppins.500a.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Poppins';
  src: url('./fonts/poppins.600a.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
