/* You can add your custom css here.*/

body{
    margin: 0;
    background-color: #eee;
}

.sd-title.sd-element__title {
    font-weight: normal;
}

.sd-root-modern {
    background: #eee;

}




@font-face {
  font-family: "Nunito";
  src: url('fonts/nunito.a.woff2');
}

.sd-body__navigation {
    justify-content: end;
}